<mat-card>
<button mat-fab color="warn"style="margin: 20px ;" (click)="NavigateBack()" ><mat-icon >keyboard_backspace</mat-icon></button>
  <mat-card-header style="padding: 5px;font-weight: bold;font-size: 300%;font-family: 'Arial Narrow'">{{name}}</mat-card-header>
  <div style="  display: flex;
  flex-direction: row;
  width: 100%;align-items:initial;flex: 1 1">
<mat-card style="width: 50%">
  <mat-card-header class="headings" >Property</mat-card-header>



</mat-card>
  <mat-card style="width: 50%;">
    <mat-card-header class="headings" >Major Tenant Summary</mat-card-header>
<table id="property" >


</table>

  </mat-card>
  </div>


</mat-card>
